$text-color: #ffffff;
$background-color: darkslategrey;

:host {
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 10px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 200px;
    max-width: 12000px;
} 

:host:hover {
    background-color: $background-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-image {
    grid-area: image;
    object-fit: cover;
    margin:auto;
    width: 100%;
}

.card-title {
    grid-area: title;
    font-size: 30px;
    text-decoration: underline;
    color: $text-color;
}

.card-description {
    grid-area: description;
    font-size: 20px;
    text-decoration: none;
    color: $text-color;
}