.navbut {
    background-color: blue;
    display: flex;
    align-items: center;
}

.bussname {
    font-size: 30px;
    color: #ffffff;
}

.buttons {
    align-items: end;
    border-color: #ffffff;
    margin-left: auto;

    a {
        color: #ffffff;
    }
}