$dark-theme: true !default;

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: rgb(0, 0, 0);
    color: white;
    background: url('../public/background.jpg') center 1px;
    background-size: cover;
    background-attachment: scroll;
}

* {
    box-sizing: border-box;
}